body { background: #f7aec6; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-router-0 { color: #8f4b6e; font-size: 19px; margin-bottom: 5px; }
.block-sms-1 { color: #b76ded; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #ce02f3; font-size: 19px; margin-bottom: 5px; }
.block-uploader-3 { color: #875384; font-size: 16px; margin-bottom: 5px; }
.block-router-4 { color: #f9d219; font-size: 20px; margin-bottom: 5px; }
.block-cache-5 { color: #ea57da; font-size: 13px; margin-bottom: 5px; }